<div class="m-auto col-md-6" style="margin-top: 30px!important;">
    <div>
      <div class="card">
        <div class="card-body">
            <!-- <img src="/img/logo.jpg" class="center" alt=""> -->
            <h4 class="card-title" style="text-align: center;">Login</h4>
          
          <form action="/admin/login" method="POST">
            <div class="form-group">
                <label for="email">Email ID</label>
                <input class="form-control" placeholder="Enter email id" type="email" name="email" id="email">
                
            </div>
            <div class="form-group">
                <label for="name">Password</label>
                <input class="form-control" placeholder="Enter Password" type="password" name="password" id="password" >
            </div>
            <button class="btn btn-primary btn-block mb-2">Register</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>