<div class="page-header">
    <div class="container">
      <h2>Master Of Business Administration</h2>
    </div>
    
</div>
<!-- Page Header End -->


<!-- cards -->



<section>
  <div class="site-section bg-light" id="BG">
    <div class="container">
      <div class="row">
     
        <div class="col-md-12 col-lg-8 mb-5" id="BG">
        
          
        
          <form action="#" class="p-5 bg-white"style="margin-top: 40px;">

            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0" id="BG">
                <div>
                  <p><b style="font-size: larger; color: black;">Overview</b></p>
                    <p>
                      The MBA Open &amp; Distance Learning (ODL) and Online Learning (OL)
                programmes of the B.S. Abdur Rahman Crescent Institute of Science and
                Technology are developed in accordance with the guidelines of the UGC ODL &amp;
                OL Regulatuions 2020 and in line with the vision and mission of the Institute.
                Typically, the curriculum and syllabus contents under both programmes are similar
                to our regular MBA programme, nevertheless delivered through Distance Education
                and Online mode using state-of-the-art IT infrastructure and web based
                technologies. The programmes are targeted to working adults as well as freshers
                who aspire to upskill their knowledge across functional areas of management that
                are evolving in the dynamic business environment in a flexible learning space.
                    </p>
                      <br>
                      
                      <p><b style="font-size: larger; color: black;">Vision</b></p>
                      <p>To provide a technology based platform for working adults and aspirants of higher
                        degrees in the field of business management through in a flexible mode.</p>
                      
                </div>
              </div>
            </div>
            


            <div class="row form-group" id="BG">
              <div class="col-md-12 mb-3 mb-md-0" id="BG">
                <p><b style="font-size: larger; color: black;">Mission</b></p>
                <div>
                  <ul>
                    <li>To provide quality education through ODL and OL mode in the field of
                      management.</li>
                    <li>To offer flexible mode of learning for working professionals to upskill their
                      knowledge in their own functional areas</li>
                    <li>To offer the same curriculum and syllabi of regular MBA degree
                      programme of the Institute to the aspirants of ODL &amp; OL programmes.</li>
                    <li>To provide a state-of-the-art infrastructure for efficient and interactive
                      teaching and learning using web-based technologies.</li>
                    <li>To provide a state-of-the-art infrastructure for efficient and interactive
                      teaching and learning using web-based technologies.</li>
                  </ul>
                    
                </div>
                <p><b style="font-size: larger; color: black;">Eligibility</b></p>
                <ul>
                  <li>Any UGC approved degree and a score in MAT/CAT/XAT/TANCET/BSACIST Entrance Test.</li>
                  <br>
                  <li>Is there any difference between students graduated from Indian and foreign universities.<a href="">If yes give details</a></li>
                </ul>
              </div>
            </div>
            <p><b style="font-size: larger; color: black;">Curriculum</b></p>
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Semester 1
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body table-hover table-responsive">
                      <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Course code</th>
                              <th scope="col">Course title</th>
                              <th scope="col">Credits</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Management Concepts</td>
                              <td>4</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Managerial Economics</td>
                              <td>4</td>
                              
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Statistics for Decision making</td>
                              <td>4</td>
                              
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>Accounting for Managers</td>
                              <td>4</td>
                              
                            </tr>
                            <tr>
                              <th scope="row">5</th>
                              <td>Organisational Behaviour</td>
                              <td>4</td>
                              
                            </tr>
                            <tr>
                              <th scope="row">6</th>
                              <td>Legal Aspects of Business</td>
                              <td>4</td>
                              
                            </tr>
                            <tr>
                              <th scope="row">7</th>
                              <td>Entrepreneurship
                                Development</td>
                              <td>4</td>
                              
                            </tr>
                            <tr>
                              <th scope="row">8</th>
                              <td>Computer applications in Business Lab.</td>
                              <td>1</td>
                              
                            </tr>
                            <tr>
                              <th scope="row">9</th>
                              <td>Business Communication Lab.</td>
                              <td>1</td>
                              
                            </tr>
                          </tbody>
                        </table>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Semester 2
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body table-hover table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Course code</th>
                            <th scope="col">Course title</th>
                            <th scope="col">Credits</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Strategic Management</td>
                            <td>4</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Human Resources Management</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Corporate Finance</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Operations Management</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Marketing Management</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td>General Elective I</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">7</th>
                            <td>General Elective II</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">8</th>
                            <td>Current Affairs in Business Lab.</td>
                            <td>1</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">9</th>
                            <td>Psychometrics and Corporate connect Lab.</td>
                            <td>1</td>
                            
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Semester 3
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body table-hover table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Course code</th>
                            <th scope="col">Course title</th>
                            <th scope="col">Credits</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Managing Disruptive Technologies</td>
                            <td>4</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>General Elective III</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Functional Elective I</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Functional Elective II</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Functional Elective III</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">6</th>
                            <td>Functional Elective IV</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">7</th>
                            <td>Functional Elective V</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">8</th>
                            <td>Functional Elective VI</td>
                            <td>4</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">9</th>
                            <td>Summer Internship</td>
                            <td>4</td>
                            
                          </tr>
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                    Semester 4
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
            </div>
            <div class="row form-group" style="margin-top: 30px;">
              <div class="col-md-12">
                <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSf2CxgI4Kieloh5Jc8RdpAOUTnjP8pC6Q0xMfdYgZ_bMMWW3A/viewform?usp=sf_link" target="_blank" class="button px-5 py-3" style="border: 1px solid black;">Download</a></p>
                

              </div>
            </div>
            <br>
            <p><b style="font-size: larger; color: black;">Salient Features</b></p>
            <div>
              <ul>
                <li>Offers 2 year OL MBA programme with semester pattern.</li>
                <li>The OL programmes are approved by the All India Council of
                  Technical Education (AICTE).</li>
                <li>Highly qualified faculty members with rich experience in industry and
                  academics.</li>
                <li>Elective courses in all functional areas with an option for dual specialization</li>
                <li>Independent full-fledged computer lab with latest software packages and database available at the Headquarters.</li>
                <li>Excellent teaching-learning environment along with LMS support.</li>
              </ul>
                
            </div>
            <br>
            <p><b style="font-size: larger; color: black;">FAQS</b></p>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Are the MBA OL programmes approved by All India Council for Technical Education (AICTE)?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How to apply for the programme?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Are the online classes conducted during weekends or evenings?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    When will I get my login credentials for online learning platform?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    What is Crescent LMS and how to use it?
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    What all information is available in crescent LMS?
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Why should I do MBA in online mode?
                  </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Why should I do MBA in Open and Distance mode?
                  </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Can I access e-content on my mobile phone?
                  </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    Can I get recorded lectures?
                  </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingEleven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                    Is there any way by which I can talk to the faculty member in case I have a doubt?
                  </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwelve">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                    How do I get assignment questions?
                  </button>
                </h2>
                <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
            </div>

            
            <br>


          </form>
        </div>

        <div class="col-lg-4" style="margin-top: 40px;">
          <div class="card" style="width: 22rem;background:#ffffff; border-radius: 10px;">
            <img src="../img/MBA.jpg" class="card-img-top" alt="...">
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="padding: 20px;background: #ffffff; font-size: larger;"><b>Duration</b>  : 2 Years</li>
              <li class="list-group-item" style="padding: 20px; background: #ffffff;font-size: larger;"><b>Course Language</b>  : English</li>
              <li class="list-group-item" style="padding: 20px;background: #ffffff;font-size: larger;"> <b>Fees </b> : &#8377;10000</li>
            </ul>
            <div class="card-body" style="position: relative; text-align: center; padding: 30px;">
              <a href="/apply" class="button" style ="text-decoration: none; border: 1px solid black;">Apply now</a>
            </div>
          </div>
          
        
        
            
          </div>
        </div>
      </div>
    </div>
</section>
