<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Online Learning</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- cards -->
<section>
  <div class="container wow fadeIn" style="margin-top: 40px;">
    <div class="row justify-content-md-center" style="padding: 30px;">
        <div class="col-md-4">
          <div class="card" style="width: 21rem;border-radius: 10px; min-height: 400px!important;">
            <img src="../img/MBA.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 style="text-align: center;"><b>Master Of Business Administrations</b></h5>
              
              <div style="margin-top: 40px;">
                <a href="/mba" class="button btn card-details" style="border: 1px solid black;">Details</a>
                <a href="/apply" class="button btn card-apply" style="border: 1px solid black;">Apply</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 21rem;min-height: 400px!important;border-radius: 10px;">
            <img src="../img/mca.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 style="text-align: center;"><b>Master Of <br>Computer Applications</b></h5>
              
              <div style="margin-top: 40px;">
                <a href="/mca" class="button btn card-details" style="border: 1px solid black;">Details</a>
                <a href="/apply" class="button btn card-apply" style="border: 1px solid black;">Apply</a>
              </div>
            </div>
          </div>
        </div> 
    </div>
</div>
</section>

