<div class="w3-container content">
    <div class="container">
      <div class="tab" style="margin-top: 30px;">
        <div class="search-bar">
          <form action="/admin/search" method="POST">
            <div class="search">
              <input type="text" placeholder="Search" name="search" class="form-control" style="width: 200px;">
              <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
        <div class="create">
          <a href="/admin/application/new" class="btn btn-primary">+ Create New</a>
        </div>
      </div>
    <div>
        
      </div>
    </div>
</div>
<div class="container body">

</div>