.cre{
    display: none;
}

@media (max-width: 993px) {
    .top-bar {
        background-color: white;
    }
}

@media (max-width: 993px) {
    .slide {
        display: none;
    }
}

@media (max-width: 993px) {
    .cre{
        display: inline-block;
    }
}
@media (max-width: 1287px) {
    .hide{
        display: none;
    }
}

.list{
    border-bottom: 1px solid rgba(182, 179, 179, 0.568)!important;
    text-decoration: none!important;
    padding: 20px!important;
    text-align:center!important;
}
body{
    background-color: rgba(226, 220, 220, 0.39);
}

.search{
    display: flex;
    flex-direction: row;
}

.search button{
    background-color: rgba(207, 190, 190, 0.603);
    border-radius: 50%;
    border: 0px solid rgba(207, 190, 190, 0.603);
}
.search i{
    font-size: larger;
    padding: 5px;
}

.tab{
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: space-evenly;
}


.create{
    padding: 10px;
}

.search-bar{
    padding: 10px;
}

.body{
    background: white;
    margin-top: 20px;
}